<!DOCTYPE html>
<html>
<head>
    <title>hbz Leitwegrecherche</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="static/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="static/js/html5shiv.js"></script>
    <script type="text/javascript" src="static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Eingabe</div>
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post">
                        <fieldset>
                            <legend>Leitwegrecherche</legend>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="id">ZDB-ID</label>
                                <div class="col-lg-6">
                                    <input class="form-control" id="id" name="id" type="text" value="{{id}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="year">Jahrgang</label>
                                <div class="col-lg-6">
                                    <input class="form-control" id="year" name="year" type="text" value="{{year}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="isil">Bibliothek</label>
                                <div class="col-lg-6">
                                    <input class="form-control" id="isil" name="isil" type="text" value="{{isil}}">
                                    <span class="help-block">Bitte ISIL der Bibliothek eintragen, auf die eingegrenzt werden soll</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="baselibrary">Heimatbibliothek</label>
                                <div class="col-lg-6">
                                    <select id="baselibrary" name="baselibrary" class="form-control">
                                        <option value="">bitte wählen</option>
                                        {{#each libraries}}
                                            <option {{select this "==" baselibrary "selected" ""}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="carrierFilter">Medium</label>
                                <div class="col-lg-6">
                                    <select id="carrierFilter" name="carrierFilter" class="form-control">
                                        <option value="">bitte eingrenzen</option>
                                        <option value="volume" {{select carrierFilter "==" "volume" "selected" ""}}>physischer Bestand</option>
                                        <option value="online resource" {{select carrierFilter "==" "online resource" "selected" ""}}>Online-Zugriff</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Starten</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{#each list}}
        <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{#if head}}
                        <div>Leitweg für ZDB-ID {{id}} Jahrgang {{date}}</div>
                        <div>Es wurden {{headcount}} liefernde Institutionen für den Leitweg ermittelt.</div>
                    {{else}}
                        <div>Keine liefernden Institutionen für den Leitweg ermittelt.</div>
                    {{/if}}
                    {{#if group}}<div>Es wurden {{groupcount}} Verbünde für den Leitweg ermittelt.</div>{{/if}}
                    {{#if tail}}
                        <div>Es wurden {{tailcount}} weitere liefernde Institutionen ermittelt.</div>
                    {{else}}
                        <div>Keine weiteren liefernden Institutionen ermittelt.</div>
                    {{/if}}
                    {{#if other}}
                        <div>Es wurden {{othercount}} andere Nachweise ermittelt.</div>
                    {{else}}
                        <div>Keine weiteren anderen Nachweise ermittelt.</div>
                    {{/if}}
                    {{#if groupother}}<div>Es wurden {{groupothercount}} weitere Verbünde ermittelt.</div>{{/if}}
                    {{#if hasbase}}<div>Heimatbibliothek hat Nachweise.</div>{{/if}}
                </div>
                <div class="panel-body">
                    <ol class="list-group">
                        {{#each head}}
                            <li class="list-group-item">
                                <p><strong>
                                    {{#if priority}}
                                        <h3 style="color: green">{{group}}&nbsp;&mdash;&nbsp;{{isil}}</h3>
                                    {{else}}
                                        {{#if base}}
                                            <h3 style="color: red">{{group}}&nbsp;&mdash;&nbsp;{{isil}}</h3>
                                        {{else}}
                                            <h3 style="color: black">{{group}}&nbsp;&mdash;&nbsp;{{isil}}</h3>
                                        {{/if}}
                                    {{/if}}
                                </strong></p>
                                {{#ifCond servicecount ">" 1}}
                                    <div>Es sind {{servicecount}} Services vorhanden</div>
                                {{else}}
                                {{/ifCond}}
                                {{#each service}}
                                    <p style="border-bottom: 1px solid #ccc"></p>
                                    <div>Service-Nummer {{eval @index "+" 1}} &nbsp;&mdash;&nbsp; Priorität {{priority}}<span style="float:right">{{@id}}</span></div>
                                    <div>{{i18n carriertype bundle="carriertype" locale="de"}}
                                    {{#each type}}
                                        {{#ifCond type "==" "interlibrary"}}
                                            <strong style="color:green">&nbsp;&mdash;&nbsp;{{i18n type bundle="type" locale="de"}}</strong>
                                        {{else}}
                                            <span>&nbsp;&mdash;&nbsp;{{i18n type bundle="type" locale="de"}}</span>
                                        {{/ifCond}}
                                    {{/each}}
                                    {{#each mode}}
                                        {{#ifCond mode "==" "copy"}}
                                            <strong style="color: green">&nbsp;&mdash;&nbsp;{{i18n mode bundle="mode" locale="de"}}</strong>
                                        {{else}}
                                            {{#ifCond mode "==" "copy-loan"}}
                                                 <strong style="color: green">&nbsp;&mdash;&nbsp;{{i18n mode bundle="mode" locale="de"}}</strong>
                                            {{else}}
                                                 <span>&nbsp;&mdash;&nbsp;{{i18n mode bundle="mode" locale="de"}}</span>
                                            {{/ifCond}}
                                        {{/ifCond}}
                                    {{/each}}
                                    {{#each distribution}}
                                        <span>&nbsp;&mdash;&nbsp;{{i18n this bundle="distribution" locale="de"}}</span>
                                    {{/each}}
                                    </div>
                                    {{#if comment}}
                                        <div><em>{{comment}}</em></div>
                                    {{/if}}
                                    {{#if info.textualholdings}}
                                        <div>Bibliothek {{serviceisil}}&nbsp;&mdash;&nbsp;Bestand {{info.textualholdings}}</div>
                                    {{/if}}
                                    {{#each info.location}}
                                        <div>
                                            {{#if shelvinglocation}}Signatur {{shelvinglocation}}{{/if}}
                                            {{#if collection}}&nbsp;&mdash;&nbsp;Standort {{collection}}{{/if}}
                                        </div>
                                    {{/each}}
                                    {{#if info.license}}
                                        <div>
                                            <span>{{i18n info.license.type bundle="license" locale="de"}}</span>
                                            <span>&nbsp;&mdash;&nbsp;{{i18n info.license.licensetype bundle="license" locale="de"}}</span>
                                            <span>&nbsp;&mdash;&nbsp;{{i18n info.license.pricetype bundle="license" locale="de"}}</span>
                                            {{#each info.license.readme}}<div><a target="_ext" href="{{this}}">README</a></div>{{/each}}
                                        </div>
                                    {{/if}}
                                    {{#ifCond carriertype "==" "online resource"}}
                                        {{#each ../../links}}
                                            <div>
                                                    {{#if uri}}<a target="_ext" href="{{uri}}">{{nonpublicnote}}</a>{{/if}}
                                                {{#if url}}<a target="_ext" href="{{url}}">{{nonpublicnote}}</a>{{/if}}
                                            </div>
                                        {{/each}}
                                    {{/ifCond}}
                                    {{#if info.links}}
                                        {{#each info.links}}
                                            <div>
                                                {{#if uri}}<a target="_ext" href="{{uri}}">{{nonpublicnote}}</a>{{/if}}
                                                {{#if url}}<a target="_ext" href="{{url}}">{{nonpublicnote}}</a>{{/if}}
                                            </div>
                                        {{/each}}
                                    {{/if}}
                                    {{#each @parent}}
                                        <div>ZDB <a target="_zdb" href="http://ld.zdb-services.de/resource/{{this}}">{{this}}</a></div>
                                    {{/each}}
                                {{/each}}
                            </li>
                        {{/each}}
                    </ol>
                </div>

                <div class="panel-heading">
                    {{#if tail}}
                        <div>Es wurden {{tailcount}} weitere liefernde Institutionen gefunden.</div>
                    {{else}}
                        <div>Es wurden keine  weiteren liefernden Institutionen gefunden.</div>
                    {{/if}}
                </div>
                <div class="panel-body">
                    <ol class="list-group">
                        {{#each tail}}
                            <li class="list-group-item">
                                <p><strong>
                                    {{#if priority}}
                                        <h3 style="color: orange">{{group}}&nbsp;&mdash;&nbsp;{{isil}}</h3>
                                    {{else}}
                                        {{#if base}}
                                            <h3 style="color: orange">{{group}}&nbsp;&mdash;&nbsp;{{isil}}</h3>
                                        {{else}}
                                            <h3 style="color: orange">{{group}}&nbsp;&mdash;&nbsp;{{isil}}</h3>
                                        {{/if}}
                                    {{/if}}
                                </strong></p>
                                {{#ifCond servicecount ">" 1}}
                                    <div>Es sind {{servicecount}} Services vorhanden</div>
                                {{/ifCond}}
                                {{#each service}}
                                    <p style="border-bottom: 1px solid #ccc"></p>
                                    <div>Service-Nummer {{eval @index "+" 1}} &nbsp;&mdash;&nbsp; Priorität {{priority}}<span style="float:right">{{@id}}</span></div>
                                    <div>{{i18n carriertype bundle="carriertype" locale="de"}}
                                        {{#each type}}
                                            {{#ifCond type "==" "interlibrary"}}
                                                <strong style="color:green">&nbsp;&mdash;&nbsp;{{i18n type bundle="type" locale="de"}}</strong>
                                            {{else}}
                                                <span>&nbsp;&mdash;&nbsp;{{i18n type bundle="type" locale="de"}}</span>
                                            {{/ifCond}}
                                        {{/each}}
                                        {{#each mode}}
                                            {{#ifCond mode "==" "copy"}}
                                                <strong style="color: green">&nbsp;&mdash;&nbsp;{{i18n mode bundle="mode" locale="de"}}</strong>
                                            {{else}}
                                                {{#ifCond mode "==" "copy-loan"}}
                                                    <strong style="color: green">&nbsp;&mdash;&nbsp;{{i18n mode bundle="mode" locale="de"}}</strong>
                                                {{else}}
                                                    <span>&nbsp;&mdash;&nbsp;{{i18n mode bundle="mode" locale="de"}}</span>
                                                {{/ifCond}}
                                            {{/ifCond}}
                                        {{/each}}
                                        {{#each distribution}}
                                            <span>&nbsp;&mdash;&nbsp;{{i18n this bundle="distribution" locale="de"}}</span>
                                        {{/each}}
                                    </div>
                                    {{#if comment}}
                                        <div><em>{{comment}}</em></div>
                                    {{/if}}
                                    {{#if info.textualholdings}}
                                        <div>Bibliothek {{serviceisil}}&nbsp;&mdash;&nbsp;Bestand {{info.textualholdings}}</div>
                                    {{/if}}
                                    {{#each info.location}}
                                        <div>
                                            {{#if shelvinglocation}}Signatur {{shelvinglocation}}{{/if}}
                                            {{#if collection}}&nbsp;&mdash;&nbsp;Standort {{collection}}{{/if}}
                                        </div>
                                    {{/each}}
                                    {{#if info.license}}
                                        <div>
                                            <span>{{i18n info.license.type bundle="license" locale="de"}}</span>
                                            <span>&nbsp;&mdash;&nbsp;{{i18n info.license.licensetype bundle="license" locale="de"}}</span>
                                            <span>&nbsp;&mdash;&nbsp;{{i18n info.license.pricetype bundle="license" locale="de"}}</span>
                                                {{#each info.license.readme}}<div><a target="_ext" href="{{this}}">README</a></div>{{/each}}
                                        </div>
                                    {{/if}}
                                    {{#ifCond carriertype "==" "online resource"}}
                                        {{#each ../../links}}
                                            <div>
                                                    {{#if uri}}<a target="_ext" href="{{uri}}">{{nonpublicnote}}</a>{{/if}}
                                                {{#if url}}<a target="_ext" href="{{url}}">{{nonpublicnote}}</a>{{/if}}
                                            </div>
                                        {{/each}}
                                    {{/ifCond}}
                                    {{#if info.links}}
                                        {{#each info.links}}
                                            <div>
                                                    {{#if uri}}<a target="_ext" href="{{uri}}">{{nonpublicnote}}</a>{{/if}}
                                                {{#if url}}<a target="_ext" href="{{url}}">{{nonpublicnote}}</a>{{/if}}
                                            </div>
                                        {{/each}}
                                    {{/if}}
                                    {{#each @parent}}
                                        <div>ZDB <a target="_zdb" href="http://ld.zdb-services.de/resource/{{this}}">{{this}}</a></div>
                                    {{/each}}
                                {{/each}}
                            </li>
                        {{/each}}
                    </ol>
                </div>

                <div class="panel-heading">
                    {{#if other}}
                        <div>Es wurden {{othercount}} andere Institutionen mit Nachweisen gefunden.</div>
                    {{else}}
                        <div>Es wurden keine weiteren anderen Institutionen mit Nachweisen gefunden.</div>
                    {{/if}}
                </div>
                <div class="panel-body">
                    <ol class="list-group">
                        {{#each other}}
                            <li class="list-group-item">
                                <p><strong>
                                    {{#if priority}}
                                        <h3 style="color: gray">{{group}}&nbsp;&mdash;&nbsp;{{isil}}</h3>
                                    {{else}}
                                        {{#if base}}
                                            <h3 style="color: gray">{{group}}&nbsp;&mdash;&nbsp;{{isil}}</h3>
                                        {{else}}
                                            <h3 style="color: gray">{{group}}&nbsp;&mdash;&nbsp;{{isil}}</h3>
                                        {{/if}}
                                    {{/if}}
                                </strong></p>
                                {{#each other}}
                                    <p style="border-bottom: 1px solid #ccc"></p>
                                    <div><span style="float:right">{{@id}}</span></div>
                                    <div>{{i18n carriertype bundle="carriertype" locale="de"}}
                                        {{#each type}}
                                            {{#ifCond type "==" "interlibrary"}}
                                                <strong style="color:green">&nbsp;&mdash;&nbsp;{{i18n type bundle="type" locale="de"}}</strong>
                                            {{else}}
                                                <span>&nbsp;&mdash;&nbsp;{{i18n type bundle="type" locale="de"}}</span>
                                            {{/ifCond}}
                                        {{/each}}
                                        {{#each mode}}
                                            {{#ifCond mode "==" "copy"}}
                                                <strong style="color: green">&nbsp;&mdash;&nbsp;{{i18n mode bundle="mode" locale="de"}}</strong>
                                            {{else}}
                                                {{#ifCond mode "==" "copy-loan"}}
                                                    <strong style="color: green">&nbsp;&mdash;&nbsp;{{i18n mode bundle="mode" locale="de"}}</strong>
                                                {{else}}
                                                    <span>&nbsp;&mdash;&nbsp;{{i18n mode bundle="mode" locale="de"}}</span>
                                                {{/ifCond}}
                                            {{/ifCond}}
                                        {{/each}}
                                        {{#each distribution}}
                                            <span>&nbsp;&mdash;&nbsp;{{i18n this bundle="distribution" locale="de"}}</span>
                                        {{/each}}
                                    </div>
                                    {{#if comment}}
                                        <div><em>{{comment}}</em></div>
                                    {{/if}}
                                    {{#if info.textualholdings}}
                                        <div>Bibliothek {{serviceisil}}&nbsp;&mdash;&nbsp;Bestand {{info.textualholdings}}</div>
                                    {{/if}}
                                    {{#each info.location}}
                                        <div>
                                            {{#if shelvinglocation}}Signatur {{shelvinglocation}}{{/if}}
                                            {{#if collection}}&nbsp;&mdash;&nbsp;Standort {{collection}}{{/if}}
                                        </div>
                                    {{/each}}
                                    {{#if info.license}}
                                        <div>
                                            <span>{{i18n info.license.type bundle="license" locale="de"}}</span>
                                            <span>&nbsp;&mdash;&nbsp;{{i18n info.license.licensetype bundle="license" locale="de"}}</span>
                                            <span>&nbsp;&mdash;&nbsp;{{i18n info.license.pricetype bundle="license" locale="de"}}</span>
                                                {{#each info.license.readme}}<div><a target="_ext" href="{{this}}">README</a></div>{{/each}}
                                        </div>
                                    {{/if}}
                                    {{#ifCond carriertype "==" "online resource"}}
                                        {{#each ../../links}}
                                            <div>
                                                    {{#if uri}}<a target="_ext" href="{{uri}}">{{nonpublicnote}}</a>{{/if}}
                                                {{#if url}}<a target="_ext" href="{{url}}">{{nonpublicnote}}</a>{{/if}}
                                            </div>
                                        {{/each}}
                                    {{/ifCond}}
                                    {{#if info.links}}
                                        {{#each info.links}}
                                            <div>
                                                    {{#if uri}}<a target="_ext" href="{{uri}}">{{nonpublicnote}}</a>{{/if}}
                                                {{#if url}}<a target="_ext" href="{{url}}">{{nonpublicnote}}</a>{{/if}}
                                            </div>
                                        {{/each}}
                                    {{/if}}
                                    {{#each @parent}}
                                        <div>ZDB <a target="_zdb" href="http://ld.zdb-services.de/resource/{{this}}">{{this}}</a></div>
                                    {{/each}}
                                {{/each}}
                            </li>
                        {{/each}}
                    </ol>
                </div>

            </div>
        </div>
        </div>
    {{/each}}
</div>

<script type="text/javascript" src="static/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>

</body>
</html>